<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* hide horizontal scrollbar */
    font-family: sans-serif;
  }

  .landing-collage {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* remove scroll from image container only */
  }

  .landing-collage .image-box {
    flex: 1; /* each takes equal width */
    display: flex;
    flex-direction: column;
  }

  .landing-collage .image-box img {
    height: 85vh;  /* image takes up 85% of viewport height */
    width: 100%;
    object-fit: cover;
    display: block;
  }

  .landing-collage .caption {
    height: 15vh; /* caption takes remaining 15% */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    background-color: #f5f5f5;
    color: #333;
    text-align: center;
    padding: 0 0.5em;
  }

  @media (max-width: 768px) {
    .landing-collage {
      flex-direction: column;
      height: auto;
    }

    .landing-collage .image-box {
      width: 100%;
    }

    .landing-collage .image-box img {
      height: auto;
      aspect-ratio: 16 / 9;
    }

    .landing-collage .caption {
      height: auto;
      padding: 1em 0.5em;
    }
  }
</style>

<div class="landing-collage">
  <div class="image-box">
    <img src="{{ site.baseurl }}/assets/img/img1.jpg" alt="Image 1">
    <div class="caption">Southernmost Point of Continental US, Key West, Florida</div>
  </div>
  <div class="image-box">
    <img src="{{ site.baseurl }}/assets/img/img2.jpg" alt="Image 2">
    <div class="caption">Buddha Tooth Relic Temple, Singapore</div>
  </div>
  <div class="image-box">
    <img src="{{ site.baseurl }}/assets/img/img3.jpg" alt="Image 3">
    <div class="caption">Sunset @ 10,000 ft in Haleakala National Park, Hawaii</div>
  </div>
</div>
