<section class="timeline-wrapper">
  <div class="timeline">
    {% for item in site.data.timeline %}
      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content">
          <h3 class="timeline-title">{{ item.degree }}</h3>
          <p class="timeline-subtitle">{{ item.institution }}, {{ item.location }}</p>
          <span class="timeline-date">{{ item.from }} — {{ item.to }}</span>
          <p class="timeline-description">{{ item.description }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</section>


# <div class="col mt-4">
  # <div class="timeline-body bg-themed">
    #{% for item in site.data.timeline %}
     # <div class="timeline-item">
      #  <div class="content">
       #   <h2>{{ item.title }}</h2>
        #  <h6 class="date">{{ item.from }} — {{ item.to }}</h6>
         # <p>{{ item.description }}</p>
        # </div>
     # </div>
    # {% endfor %}
  # </div>
# </div>
