---
layout: default
---

<main class="px-3">


<!-- About Me Section -->
<section class="text-center py-5 bg-white">
  <div class="container">
    <h3 class="fw-bold fs-2 mb-4" style="letter-spacing: 1px;">About Me</h3>

    <p class="fs-1 fw-bolder mb-2" style="letter-spacing: 0.5px;">
      Hi, I'm Jyothi Guruprasad!
    </p>

    <p class="fs-5 mx-auto text-muted" style="max-width: 750px;">
      Welcome to my personal website! I’m a bioinformatics researcher passionate about exploring the molecular underpinnings of human diseases through computational biology. My work focuses on transcriptomics and genomics, with a strong interest in host-microbiome interactions, autoimmune disorders, and infectious diseases.
    </p>

    <a href="/about/" class="btn btn-primary btn-lg mt-4">Learn More</a>
  </div>
</section>

  <!-- Image Collage -->
  {% include landing.html %}

</main>
