---
layout: default
---

<main class="px-3">

  <!-- Skills (optional) -->
  {% include about/skills.html %}

  <!-- About Me Section -->
  <section class="text-center py-5 bg-white">
    <div class="container">
      <h3 class="fw-bold">About Me</h3>
      <p class="lead mt-3 mx-auto" style="max-width: 800px;">
        Hi, I am Jyothi Guruprasad!
        Welcome to my personal website! I’m a bioinformatics researcher passionate about exploring the molecular underpinnings of human diseases through computational biology. My work focuses on transcriptomics and genomics, with a strong interest in host-microbiome interactions, autoimmune disorders, and infectious diseases.
      </p>
      <a href="/about/" class="btn btn-primary btn-lg mt-4">Learn More</a>
    </div>
  </section>

  <!-- Image Collage -->
  {% include landing.html %}

</main>
