---
layout: default
---

<main class="px-3">


  <!-- About Me Section -->
<section class="text-center py-5 bg-white">
  <div class="container">
    <h3 class="fw-bold fs-2 mb-4" style="letter-spacing: 1px;">About Me</h3>

    <p class="fs-2 fw-bold mb-2">Hi, I'm Jyothi Guruprasad!</p>

    <p class="lead mx-auto" style="max-width: 800px;">
      Welcome to my personal website! I’m a bioinformatics researcher passionate about exploring the molecular underpinnings of human diseases through computational biology. My work focuses on transcriptomics and genomics, with a strong interest in host-microbiome interactions, autoimmune disorders, and infectious diseases.
    </p>

    <a href="/about/" class="btn btn-primary btn-lg mt-4">Learn More</a>
  </div>
</section>

  <!-- Image Collage -->
  {% include landing.html %}

</main>
